# Data Architectures Individual Assignment Germán Germán De Souza

## <span style="color:orange">Question 1 & 2: Create database with student name and use it</span>

In [2]:
create database 2020s1_germangermandesouza;
use 2020s1_germangermandesouza

## <span style="color:orange">Question 3: Create external table called "sentiment_dictionary" and store it as textfile</span>

In [4]:
drop table if exists sentiment_dictionary;
create external table sentiment_dictionary (type string, length integer, words string, word_type string, stemmed string, polarity string)
row format serde 'org.apache.hadoop.hive.serde2.OpenCSVSerde' 
with serdeproperties ("separatorChar" = "\t") 
stored as textfile location '/user/osbdet/dictionary';

## <span style="color:orange">Question 4: Create external table called "tweets_json" and store it as textfile</span>

In [6]:
drop table if exists tweets_json;
create external table tweets_json (
created_at string,
id bigint,
id_str string,
text string,
source string,
lang string,
`user` struct<id:bigint,
              name:string,
              location:string,
              followers_count:int,
              geo_enabled:boolean,
              lang:string,
              statuses_count:int>,
`entities` struct<user_mentions:array<struct<screen_name:string>>,
                  hashtags:array<struct<text:string>>>
)
row format serde 'org.apache.hive.hcatalog.data.JsonSerDe'
stored as textfile 
location '/user/osbdet/tweets';

## <span style="color:orange">Question 7: Return total number of tweets collected with "tweets_json"</span>

In [8]:
select count(*) as num_tweets from tweets_json

## <span style="color:orange">Question 4: Create external table called "tweets_parquet" and store it as parquet</span>

In [10]:
drop table if exists tweets_parquet;
create table tweets_parquet stored as parquet as select * from tweets_json

## <span style="color:orange">Question 7: Return total number of tweets collected with "tweets_parquet"</span>

In [12]:
select count(*) as count_tweets_parquet from tweets_parquet

## <span style="color:orange">Question 8: Which of the queries was faster (tweets_json and tweets_parquet)?</span>

<p><b><i>We can say that tweets_json took longer than tweets_parquet. This can be seen as tweets_parquet took 53 seconds and tweets_json took 58 seconds</i></b></p>

## <span style="color:orange">Question 9: Total number of users with geolocation enabled</span>

In [16]:
select `user`.geo_enabled, count(*) as count_true from tweets_parquet
where `user`.geo_enabled=true
group by `user`.geo_enabled

## <span style="color:orange">Question 10: Total number of tweets per language</span>

In [18]:
select lang, count(*) as count_language_n_tweets from tweets_parquet
group by lang

## <span style="color:orange">Question 11: Top 10 with more tweets published</span>

In [20]:
select user_name,frequency from
(select `user`.name as user_name, max(`user`.statuses_count) as frequency from tweets_parquet 
group by `user`.name
order by frequency desc
limit 10) as tweet_freaks

## <span style="color:orange">Question 12: Top 10 with most followers</span>

In [22]:
select distinct(`user`.name),`user`.followers_count from tweets_parquet
order by `user`.followers_count desc
limit 10;

## <span style="color:orange">Question 13: Top 10 most popular hashtags</span>

In [24]:
select hashtag, count(*) as frequency from tweets_parquet 
lateral view explode (`entities`.hashtags.text) e as hashtag
group by hashtag
order by frequency desc
limit 10

## <span style="color:orange">Question 14: Average number of words in a tweet</span>

In [26]:
select sum(words)/count(id) as avg_n_words_apple_tweets from 
(select id,count(*) as words from tweets_parquet 
lateral view explode(split(text, ' ')) e as words_
where words_!='' and words_!=' ' and words_ not rlike ('!')
group by id) as count_explode

## <span style="color:orange">Question 15: Max hashtags within the collected tweets and average number of hashtags in a tweet</span>

In [28]:
select max(frequency) as max_n_hashtags_for_post, avg(frequency) as avg_n_hashtags_per_user from
(select id,count(hashtag) as frequency from tweets_parquet 
lateral view explode (`entities`.hashtags.text) e as hashtag
group by id) as count_explode

## <span style="color:orange">Question 16: Top 10 users with most mentions</span>

In [30]:
select screen_name, count(*) as frequency from tweets_parquet 
lateral view explode (`entities`.user_mentions.screen_name) e as screen_name
group by screen_name
order by frequency desc
limit 10;

## <span style="color:orange">Question 17: Create a managed table called "tweet_words"</span>

In [32]:
drop table tweets_words;
drop table hello;
create table hello as (select id, dummy_words from tweets_parquet lateral view explode(sentences(lower(text))) e as dummy_words);
create table tweets_words as (select id, words from hello lateral view explode(dummy_words) e as words);

## <span style="color:orange">Question 18: Create a managed table called "tweet_words_sentiment" </span>

In [34]:
drop table tweets_words_sentiment_test;
drop view tweet_words_sentiment;
create table tweet_words_sentiment as select 
    id,
    tweets_words.dummy_words,
    case sentiment_dictionary.polarity
      when 'negative' then -1
      when 'positive' then 1
      else 0 end as polarity
 from tweets_words left outer join sentiment_dictionary on tweets_words.dummy_words = sentiment_dictionary.words;

## <span style="color:orange">Question 19: Create a managed table "tweets_sentiment" that sums the polarity of each tweet</span>

In [36]:
drop table tweets_sentiment_test;
drop table tweets_sentiment;
create table tweets_sentiment stored as orc as select
  id,
  case
    when sum(polarity) > 0 then 'positive'
    when sum(polarity) < 0 then 'negative'
    else 'neutral' end as polarity
from tweets_words_sentiment
group by id;

## <span style="color:orange">Question 20: Create query returns evolution of positive and negative tweets per second</span>
#### <span style="color:red">Note: I have slightly changed it, this is because I gathered lots of tweets in a matter of seconds. It is therefore that I decided to include minutes instead of per days and hours </span>

In [38]:
create temporary MACRO tweet_hour(created_at string)
from_unixtime(unix_timestamp(created_at, 'EEE MMM dd HH:mm:ss +0000 yyyy'),'yyyyMMddHHmmss');
select hour,sum(positive) as positive,sum(negative) as negative from (select 
  tweet_hour(t.created_at) as hour,
  count(case when s.polarity='positive' then 1 else 0 end) as positive,
  count(case when s.polarity='negative' then 1 else 0 end) as negative
from tweets_parquet t left outer join tweets_sentiment s on t.id = s.id
group by t.created_at) as question20
group by hour